<!DOCTYPE html>

  <head>

    {% include 'templates/head.html' %}

  </head>

  <body>

    {% include 'templates/header.html' %}

        <div class="container">

          <h2>Available data</h2><br>
          <p>Here you pick data you like. Just copy the ID and paste into Excel Add-In.</p><br>

            <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Description</th>
                <th>Organization</th>
                <th>User</th>
                <th>Last Updated</th>
              </tr>
            </thead>
            <tbody>

            {% for d in data %}
              <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.bapi_id }}</td>
                <td>{{ d.description }}</td>
                <td>{{ d.organization }}</td>
                <td>{{ d.user }}</td>
                <td>{{ d.last_updated | time_minus_2 }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>

</body>

</html>