<!DOCTYPE html>

  <head>

    {% include 'templates/head.html' %}

  </head>

  <body>

    {% include 'templates/header.html' %}

    <div class="container" >

    <div class="row">
    <div class="col-md-4">


      <div class="starter-template">

          <div class="panel panel-danger">
              <div class="panel-heading">ID</div>
              <div class="panel-body">{{ id }}</div>
          </div>

          <div class="panel panel-primary">
              <div class="panel-heading">Data name</div>
              <div class="panel-body">{{ name }}</div>
          </div>

          <div class="panel panel-warning">
              <div class="panel-heading">Organization</div>
              <div class="panel-body">{{ organization }}</div>
          </div>

          <div class="panel panel-success">
              <div class="panel-heading">Created by</div>
              <div class="panel-body">{{ user }}</div>
          </div>

           <div class="panel panel-info">
              <div class="panel-heading">Last updated at</div>
              <div class="panel-body">{{ last_updated | time_minus_2 if last_updated != None else datetime.datetime(2014,1,1) }}</div>
          </div>

           <div class="panel panel-warning">
              <div class="panel-heading">Data description</div>
              <div class="panel-body">{{ description }}</div>
          </div>

           <div class="panel panel-danger">
              <div class="panel-heading">Data view</div>
              <div class="panel-body">{{ from_db }}</div>
          </div>

      </div>

      </div>

      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>

    </div><!-- /.container -->

</body>

</html>