<!DOCTYPE html>

  <head>

    {% include 'templates/head.html' %}



  </head>

  <body>

    {% include 'templates/header.html' %}

    <br>
    <div class="container">
    <div class="jumbotron">
        <h1>Welcome to Risk Control Platform!</h1>
        <h2>Take a look what data you can get here.</h2>
        <p><a class="btn btn-info btn-lg" href="\browse" role="button">Browse Data</a></p>
        <div id="index_login_info">
        <h2>But first and foremost...</h2>
        <p><a class="btn btn-success btn-lg" href="ftp://s1.laohost.net/domains/blueberry-api.pl/public_ftp/" role="button">Install an Excel add-in</a></p>
        <h2>and</h2>
        <p><a class="btn btn-primary btn-lg" href="\login" role="button">Log in</a></p>
        </div>
    </div>
    </div>


</body>

</html>