<!DOCTYPE html>

  <head>

    {% include 'templates/head.html' %}

  </head>

  <body>

    {% include 'templates/header.html' %}

        <div class="container">

          <h2>Published Configurations</h2><br>
          <p>Here you can see all configurations for data which has been previously published by you.</p><br>

            <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Workbook Path</th>
                <th>Workbook</th>
                <th>Worksheet</th>
                <th>Destination Cell</th>
                <th>Data Type</th>
              </tr>
            </thead>
            <tbody>

            {% for d in data %}
              <tr>
                <td>{{ d.bapi_id }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.description }}</td>
                <td>{{ d.workbook_path }}</td>
                <td>{{ d.workbook }}</td>
                <td>{{ d.worksheet }}</td>
                <td>{{ d.destination_cell }}</td>
                <td>{{ d.data_type }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>

</body>

</html>