<!DOCTYPE html>

  <head>

    {% include 'head.html' %}

    <!-- Template specific CSS and JS -->
    <link href="static/bootstrap-signin/css/signin.css" rel="stylesheet">

  </head>

  <body>

        <!--<div class="container">If you would like to register send an email to bartosz.piechnik@ch.abb.com</div>-->


        <!-- THIS IS REGISTER FRONT-END. ACTIVATE WHEN THE REGISTRATION FUNCTIONALITY IS IMPLEMENTED-->

        <div class="container">

        <form class="form-signin" method="POST" action="/register">

        <h2 class="form-signin-heading">Please register</h2>
        <label for="Email" class="sr-only">Email address</label>
        <div>{{ form.email.label }}: {{ form.email(class="form-control") }}</div>
        <label for="Password" class="sr-only">Password</label>
        <div>{{ form.password.label }}: {{ form.password(class="form-control") }}</div>
        <label for="Confirm Password" class="sr-only">Confirm Password</label>
        <div>{{ form.confirm_password.label }}: {{ form.confirm_password(class="form-control") }}</div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>

        </div>



  </body></html>